/* ========== cart css ========== */
.cart {
    display: flex;
    align-items: center;
    background: #222;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.cart-img img {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    border-radius: 50%;
}

.fa-check-circle {
    color: #ff8906;
}