/* ========= community csss========= */
.community-container {
    background-color: #0f0e17;
    padding: 30px 10px 0;
}

.community-intro {
    text-align: center;
    padding-bottom: 20px;
}

.community-intro p {
    line-height: 30px;
    font-size: 18px;
    width: 60%;
    margin: 5px auto;
}

/*  ====== contributors css ======= */
.our-contributors {
    display: flex;
    justify-content: space-between;
}

.contributors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 80%;
}

/*  ========= committee css ======== */
.committee {
    width: 18%;
    padding: 0 10px;
    text-align: center;
    position: absolute;
    right: 14px;
    border-radius: 10px;
}

.committee-intro {
    line-height: 32px;
    background: #222;
    border-radius: 10px;
    margin-bottom: 12px;
}