.header {
    background-color: #0f0e17;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    line-height: 60px;
}

.logo a {
    color: #ff8906;
}

.nav-bar li {
    display: inline-block;
}

.nav-bar li a {
    color: #a7a9be;
    font-size: 18px;
    margin-right: 20px;
    font-weight: 500;
    transition: all 0.3s linear;
}

.nav-bar li a:hover {
    color: #ff8906;
}